<h1>{{ question.question_text }}</h1>
<!--action #action 정보를 어디로 보낼것인가, method ##get 과 post 방식!, enctype -->
<form action = '' method="post"> 
{% csrf_token %}
<!--input, select, textarea-->
    <ul>
        {% for choice in question.choice_set.all %}
        <li>
            <input type='radio' name="choice" id = '{{choice.id}}' value = '{{choice.id}}'/> 
            <label for ='{{choice.id}}'>{{ choice.choice_text }}</label>
        </li>
        {% endfor %}
    </ul>
    <input type = 'submit' value = '전송'/>
</form>
